**/__pycache__

frontend/.env
frontend/node_modules
frontend/package-lock.json

backend/static
backend/aou_env
backend/3d_models
backend/django.log
backend/db.sqlite3
backend/media/imgs/*
backend/*/migrations
backend/media/meshes/*
backend/data/demo.json
backend/media/mesh_gifs/*

ai_api/tmp
ai_api/logs 
ai_api/fa3ds
ai_api/sponj_ai
ai_api/keys.json
ai_api/demo/in/*
ai_api/demo/out/*
ai_api/utils/mesh_simplify